.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5d0b9;
  padding: 20px;
}

.register-card {
  background-color: #f4ece4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #8c6a4f;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button[mat-raised-button] {
  width: 100%;
  padding: 10px;
  background-color: #8c6a4f;
  color: #fff;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button[mat-raised-button]:hover {
  background-color: #6e503d;
}