<body>
  <div class="container" *ngIf="usuario">
    <div class="sidebar">
      <div class="profile-pic">
        <div class="circle"></div>
        <div class="camera-icon">📷</div>
        <h2>{{ usuario.nome }}</h2>
      </div>
      <div class="dados-pessoais">
        <h3>Dados Pessoais</h3>
        <p><strong>Nome:</strong> {{ usuario.nome }}</p>
        <br>
        <p><strong>E-mail:</strong> {{ usuario.email }}</p>
        <br>
        <a mat-raised-button color="primary" routerLink="/atualizar-perfil">Atualizar Dados</a>
      </div>
    </div>
  </div>
</body>
