<body>
  <div class="container">
    <a href="https://exemplo2.com" class="card" target="_blank">
      <img src="assets/img/maquii.jpg" alt="Imagem 2">
      <div class="card-content">
        <h3>Maquiagem</h3>
      </div>
      <div class="info">⏱️ 30 min</div>
      <div class="info">R$30,00</div>
    </a>

    <div class="card">
      <img src="https://via.placeholder.com/100" alt="Design + Coloração" />
      <h3>Design de sobrancelha + coloração</h3>
      <div class="info">⏱️ 1hr</div>
      <div class="info">R$50,00</div>
    </div>

    <div class="card">
      <img src="https://via.placeholder.com/100" alt="Design + Henna" />
      <h3>Design de sobrancelha + henna</h3>
      <div class="info">⏱️ 1hr</div>
      <div class="info">R$50,00</div>
    </div>

    <div class="card">
      <img src="https://via.placeholder.com/100" alt="Micropigmentação" />
      <h3>Micropigmentação de sobrancelhas</h3>
      <div class="info">⏱️ 2hr</div>
      <div class="info">R$500,00</div>
    </div>

  </div>
</body>
