<body>
  <div class="container">
    @for (servico of servicos; track $index) {
      <a href="#" class="card" (click)="openAgendamentoModal(servico); $event.preventDefault()">
        <img [src]="servico.produtoImagens[0].imagem" alt="Imagem 2">
        <div class="card-content">
          <h3>{{ servico.descricao }}</h3>
        </div>
        <div class="info">⏱️ {{ servico.tempo }} min</div>
        <div class="info">{{ servico.preco | currency:'BRL' }}</div>
      </a>
    }
  </div>
</body>
