<div class="container">
  <header class="header">
    <h1>Ana Paula Mira</h1>
  </header>

  <div class="content">
    <!-- Informações sobre Ana Paula Mira -->
    <div class="info">
      <img src="assets/img/ana.jpg" alt="Foto de Ana Paula Mira" class="profile-pic">
      <p>
        Olá, meu nome é Ana Paula Mira, tenho 29 anos e sou graduada em Estética e Cosmética pela Universidade de Araraquara UNIARA. Atuo profissionalmente no setor de estética e beleza há mais de oito anos, sempre comprometida em oferecer um atendimento de excelência.
      </p>
      <p>
        Minha prioridade é garantir o bem-estar dos clientes, proporcionando serviços de alta qualidade por meio do uso de produtos cuidadosamente selecionados, que asseguram tanto a eficácia quanto a durabilidade dos procedimentos.
      </p>
    </div>

    <!-- Informações de contato e localização -->
    <div class="contact">
      <h2>Horários de Atendimento</h2>
      <p>Terça a Sexta: 08 às 19 hrs</p>
      <p>Sábados: 08 às 20 hrs</p>
      <h3>Contato</h3>
      <p>(16) 99735-3678</p>
      <p>Email: anapaulamira&#64;hotmail.com</p>
      <h3>Redes sociais</h3>
      <p>Instagram: &#64;anapaulamirabeauty</p>
      <p>Facebook: anapaulamiramakeup</p>
    </div>

    <div class="location">
      <h2>Localização</h2>
      <p>R. Izidoro Adail Bottesini, 671 - Jardim Aeroporto, Matão - SP, 15990-522</p>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.123456789012!2d-48.3654321!3d-21.6034567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x123456789abcdef!2sR.%20Izidoro%20Adail%20Bottesini%2C%20671%20-%20Jardim%20Aeroporto%2C%20Mat%C3%A3o%20-%20SP%2C%2015990-522!5e0!3m2!1spt-BR!2sbr!4v1234567890123" 
        width="500" 
        height="350" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>

</div>