<!-- Remova DOCTYPE, <html>, <head> e <body> do template do componente Angular! -->
<div class="main-container">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/img/logo.png" alt="Logo" class="logo">
  </div>

  <!-- Navbar -->
  <nav class="navbar">
    <button class="menu-toggle" (click)="toggleMenu()">&#9776;</button>
    <div class="nav-links" [ngClass]="{ 'open': menuOpen }">
      <a class="custom-navbar-link" routerLink="/home">Home</a>
      <a class="custom-navbar-link" routerLink="tipo-servico/listar">Serviços</a>

      <ng-container *ngIf="perfilUsuario === 'Usuario'">
        <a class="custom-navbar-link" routerLink="/meus-agendamentos">Meus Agendamentos</a>
      </ng-container>

      <ng-container *ngIf="perfilUsuario === 'Administrador'">
        <div class="dropdown">
          <a class="dropdown-toggle custom-navbar-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Serviços (Adm)
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item custom-navbar-link" routerLink="/cadastro-categoria">Cadastrar</a></li>
            <li><a class="dropdown-item custom-navbar-link" routerLink="/categoria-atualizar">Editar</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a class="dropdown-toggle custom-navbar-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produtos (Adm)
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item custom-navbar-link" routerLink="/cadastro-produto">Cadastrar</a></li>
            <li><a class="dropdown-item custom-navbar-link" routerLink="/atualizar-produto">Editar</a></li>
          </ul>
        </div>
        <a class="custom-navbar-link" routerLink="/adm-categorias-serviços">Deletar</a>
        <a class="custom-navbar-link" routerLink="/adm-agendamento">Agendamentos</a>
      </ng-container>

      <a class="custom-navbar-link" routerLink="/sobre">Sobre</a>

      <ng-container *ngIf="perfilUsuario === null">
        <a class="custom-navbar-link" routerLink="/login">Login</a>
      </ng-container>

      <ng-container *ngIf="perfilUsuario !== null">
        <div class="dropdown">
          <a class="dropdown-toggle custom-navbar-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ nomeUsuario }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/perfil-usuario">Perfil</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="authService.logout()">Sair</a></li>
          </ul>
        </div>
      </ng-container>
    </div>
  </nav>

  <!-- Conteúdo Principal -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2025 Ana Paula Mira - Todos os direitos reservados.</p>
  </footer>
</div>