<div class="admin-container">
  <div class="admin-title">AGENDA</div>
  <div class="admin-card">
    <table class="admin-table">
      <thead>
        <tr>
          <th>Nome Cliente</th>
          <th>Serviço Agendado</th>
          <th>Tempo de Serviço</th>
          <th>Início e Fim Horário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr class="beige-row">
          <td>Maria Vargas</td>
          <td>Design de sobrancelha + coloração</td>
          <td>1 hora</td>
          <td>13:30 - 14:30</td>
          <td class="actions">
            <a href="#">Cancelar Agendamento</a>
          </td>
        </tr>
        <tr class="white-row">
          <td>Fernanda Reis</td>
          <td>Massagem corporal</td>
          <td>1 hora</td>
          <td>14:30 - 15:30</td>
          <td class="actions">
            <a href="#">Cancelar Agendamento</a>
          </td>
        </tr>
        <tr class="beige-row">
          <td>Gabriela Gonç</td>
          <td>Design de Sobrancelha</td>
          <td>30 minutos</td>
          <td>15:30 - 16:00</td>
          <td class="actions">
            <a href="#">Cancelar Agendamento</a>
          </td>
        </tr>
        <tr class="white-row">
          <td>Ana Marcela</td>
          <td>Design de Sobrancelha</td>
          <td>30 minutos</td>
          <td>16:00 - 16:30</td>
          <td class="actions">
            <a href="#">Cancelar Agendamento</a>
          </td>
        </tr>
        <tr class="beige-row">
          <td>Josi Martins</td>
          <td>Maquiagem Social</td>
          <td>1 hora</td>
          <td>16:30 - 17:30</td>
          <td class="actions">
            <a href="#">Cancelar Agendamento</a>
          </td>
        </tr>
        <tr class="white-row">
          <td>Elena</td>
          <td>Micropigmentação de sobrancelhas</td>
          <td>2 horas</td>
          <td>17:00 - 19:00</td>
          <td class="actions">
            <a href="#">Cancelar Agendamento</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
