<div class="admin-container">
  <div class="admin-title">AGENDA</div>
  <div class="admin-card">
    <div *ngIf="agendamentos.length === 0">Nenhum agendamento encontrado.</div>
    <div *ngIf="agendamentos.length > 0">
      <table class="admin-table">
        <thead>
          <tr>
            <th>Nome Usuário</th>
            <th>Serviço Agendado</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agendamento of agendamentos; let i = index" [ngClass]="i % 2 === 0 ? 'beige-row' : 'white-row'">
            <td data-label="Nome Usuário">{{ agendamento.nomeUsuario }}</td>
            <td data-label="Serviço Agendado">{{ agendamento.nomeProduto }}</td>
            <td data-label="Data">{{ agendamento.data | date:'dd/MM/yyyy' }}</td>
            <td data-label="Horário">{{ agendamento.horaInicial }} - {{ agendamento.horaFinal }}</td>
            <td class="actions" data-label="Ações">
              <button class="cancel-btn" (click)="cancelarAgendamento(agendamento.id)">Cancelar Agendamento</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
