<div class="container">
    <mat-card class="card">
      <mat-card-title>Resetar Senha</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Código</mat-label>
            <input matInput [(ngModel)]="codigo" name="username" required>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nova Senha</mat-label>
            <input matInput [(ngModel)]="novaSenha" name="username" required>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Confirme sua Senha</mat-label>
            <input matInput [(ngModel)]="confirmarSenha" name="password" type="password" required>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Resetar</button>
          </form>
      </mat-card-content>
    </mat-card>
</div>