<body>
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-9">
            <img src="assets/img/Tratamento.png" alt="Maquiagem Personalizada" class="img-fluid rounded">
          </div>
          <div class="col-md-3 text-white">
            <h2>Procedimentos Estéticos</h2>
            <p class="opacity-75">
              Os procedimentos estéticos são aliados poderosos na busca pelo bem-estar, autoestima e realce da beleza
              natural. Com técnicas modernas, seguras e não invasivas, é possível conquistar resultados visíveis,
              progressivos e duradouros.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-9">
            <img src="assets/img/sobrancelha2.jpg" alt="Sobrancelha" class="img-fluid rounded">
          </div>
          <div class="col-md-3 text-white">
            <h2>Sobrancelha</h2>
            <p class="opacity-75">
              As sobrancelhas vão muito além de um detalhe do rosto elas são molduras do olhar e exercem um papel
              essencial na harmonia da expressão facial. Bem cuidadas, têm o poder de levantar o olhar, suavizar traços
              e até rejuvenescer a aparência.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-9">
            <img src="assets/img/imgCarousel1.jpg" alt="Procedimentos Estéticos" class="img-fluid rounded">
          </div>
          <div class="col-md-3 text-white"> 
            <h2>Maquiagem personalizada realça sua beleza única</h2>
            <p class="opacity-75">
              A maquiagem personalizada é um serviço feito sob medida para realçar sua beleza de acordo com seu estilo,
              tipo de pele e ocasião. Cada detalhe é pensado para valorizar seus traços e atender às suas preferências,
              garantindo um resultado único e exclusivo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Marketing messaging and featurettes -->
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Maquiagem personalizada. <span class="color-secundary">realça sua beleza única.</span></h2>
      <p class="lead">A maquiagem personalizada é um serviço feito sob medida para realçar sua beleza de acordo com seu estilo, tipo de pele e ocasião. Cada detalhe é pensado para valorizar seus traços e atender às suas preferências, garantindo um resultado único e exclusivo.</p>
    </div>
    <div class="col-md-5">
      <img src="assets/img/anapaulamaquiagem.png" alt="img" class="img-fluid rounded">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Design de Sobrancelhas. <span class="color-secundary">Realce sua Beleza </span></h2>
      <p class="lead">As sobrancelhas são molduras do olhar e exercem um papel essencial na harmonia facial. Bem cuidadas, elas têm o poder de levantar o olhar, suavizar traços e até rejuvenescer a aparência. Oferecemos serviços como design de sobrancelhas, henna e micropigmentação para valorizar sua beleza natural.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/img/sobra.jpg" alt="img" class="img-fluid rounded">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Procedimento Esteticos. <span class="color-secundary">Realce sua beleza com cuidado e sofisticação </span></h2>
      <p class="lead">Os procedimentos estéticos são aliados poderosos na busca pelo bem-estar, autoestima e realce da beleza natural. Mais do que transformar a aparência, eles oferecem cuidado, saúde para a pele e aquele toque especial que faz toda a diferença no dia a dia. Cada tratamento é pensado de forma personalizada, respeitando o seu tipo de pele, necessidades específicas e objetivos individuais. Com técnicas modernas, seguras e não invasivas, é possível conquistar resultados visíveis, progressivos e duradouros, sempre com naturalidade e sofisticação</p>
    </div>
    <div class="col-md-5">
      <img src="assets/img/tratamentosesteticos.jpg" alt="img" class="img-fluid rounded">
    </div>
  </div>

  <hr class="featurette-divider">
</div>
</body>