/* Ajuste global */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

/* Carousel */
.carousel {
  margin-bottom: 4rem;
  background-color: #CDB79E; /* Fundo cinza escuro */
  color: #fff; /* Texto branco */
}

.carousel-item img {
  width: 75%; /* Garante que a imagem ocupe toda a largura da coluna */
  max-width: 950px; /* Define um tamanho máximo para a largura */
  height: 600px; /* Define uma altura fixa */
  width: 650px;
  object-fit: cover; /* Garante que a imagem seja cortada proporcionalmente para caber no espaço */
  border-radius: 8px; /* Adiciona bordas arredondadas */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.carousel-item h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.carousel-item p {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Responsividade */
@media (max-width: 768px) {
  .carousel-item img {
    max-width: 100%; /* Ajusta a largura para telas menores */
    height: auto; /* Permite que a altura seja proporcional */
  }

  .carousel-item h2 {
    font-size: 1.5rem;
  }

  .carousel-item p {
    font-size: 0.9rem;
  }
}
