<div class="register-container">
  <mat-card class="register-card">
    <div class="image-upload-container" (click)="fileInput.click()">
      <img *ngIf="previewUrl; else placeholder" [src]="previewUrl" class="profile-image" alt="Imagem da categoria">
      <ng-template #placeholder>
        <div class="profile-placeholder">
          <span>+</span>
        </div>
      </ng-template>
      <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)">
    </div>
    <mat-card-title>Cadastro de Serviço</mat-card-title>
    <mat-card-content>
      <form>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Descrição</mat-label>
          <input matInput placeholder="Digite a descrição" type="text">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Duração do serviço</mat-label>
            <mat-select>
                <mat-option value="30min">30 Minutos</mat-option>
                <mat-option value="1H">1 Hora</mat-option>
                <mat-option value="1H30Min">1 Hora e 30 Minutos</mat-option>
                <mat-option value="2H">2 Horas</mat-option>
            </mat-select>
        </mat-form-field>
        

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Valor R$</mat-label>
          <input matInput placeholder="Digite o valor" type="text">
        </mat-form-field>

        <button mat-raised-button color="primary" type="button">Adicionar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>