<div class="container">
    <mat-card class="card">
        <mat-card-title>Cadastro de Categoria</mat-card-title>
        <mat-form-field class="full-width" appearance="fill">
            <input matInput placeholder="Nome do Procedimento" type="text" formControlName="procedimento">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <input matInput placeholder="Descrição" type="text" formControlName="descricao">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <input matInput placeholder="Valor R$" type="text" formControlName="valor">
        </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Adicionar</button>
    </mat-card>
</div>