<div class="register-container">
  <mat-card class="register-card">
    <div class="image-upload-container" (click)="fileInput.click()">
      <img *ngIf="previewUrl; else placeholder" [src]="previewUrl" class="profile-image" alt="Imagem da categoria">
      <ng-template #placeholder>
        <div class="profile-placeholder">
          <span>+</span>
        </div>
      </ng-template>
      <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)">
    </div>
    <mat-card-title>Cadastro de Categoria</mat-card-title>
    <mat-card-content>
      <form [formGroup]="formCategoria" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nome do Procedimento</mat-label>
          <input matInput placeholder="Digite o nome do procedimento" type="text" formControlName="descricao">
          <mat-error *ngIf="submitted && f['descricao'].errors?.['required']">
            Nome do procedimento é obrigatório.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Adicionar</button>

        <div *ngIf="errorMessage">
          <p style="color: red;">{{ errorMessage }}</p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>