<div class="admin-container">
  <div class="admin-title">Categorias e Produtos</div>
  <div style="text-align:right; margin-bottom: 16px;">
    <select [(ngModel)]="tipoSelecionado">
      <option value="categoria">Categorias</option>
      <option value="servico">Produtos</option>
    </select>
  </div>
  <div class="admin-card">
    <table class="admin-table">
      <thead>
        <tr>
          <th>{{ tipoSelecionado === 'categoria' ? 'Categoria' : 'Serviço' }}</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itensFiltrados(); let i = index" [ngClass]="i % 2 === 0 ? 'white-row' : 'beige-row'">
          <td data-label="Categoria/Serviço">{{ getNome(item) }}</td>
          <td class="actions" data-label="Ações">
            <a [routerLink]="['/deletar', item.id]" [queryParams]="{ tipo: tipoSelecionado }">Deletar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
