<div class="admin-container">
  <div class="admin-title">Categorias e Serviços</div>
  <div class="admin-card">
    <table class="admin-table">
      <thead>
        <tr>
          <th>Categoria/Serviço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr class="white-row">
          <td data-label="Categoria/Serviço">Maquiagem Social</td>
          <td class="actions" data-label="Ações">
            <a href="#">Remover</a>
            <a href="#">Editar</a>
          </td>
        </tr>
        <tr class="beige-row">
          <td data-label="Categoria/Serviço">Desiging Sobrancelha</td>
          <td class="actions" data-label="Ações">
            <a href="#">Remover</a>
            <a href="#">Editar</a>
          </td>
        </tr>
        <tr class="white-row">
          <td data-label="Categoria/Serviço">Design de sobrancelha + coloração</td>
          <td class="actions" data-label="Ações">
            <a href="#">Remover</a>
            <a href="#">Editar</a>
          </td>
        </tr>
        <tr class="beige-row">
          <td data-label="Categoria/Serviço">Design de sobrancelha + henna</td>
          <td class="actions" data-label="Ações">
            <a href="#">Remover</a>
            <a href="#">Editar</a>
          </td>
        </tr>
        <tr class="white-row">
          <td data-label="Categoria/Serviço">Massagem corporal</td>
          <td class="actions" data-label="Ações">
            <a href="#">Remover</a>
            <a href="#">Editar</a>
          </td>
        </tr>
        <tr class="beige-row">
          <td data-label="Categoria/Serviço">Peeling</td>
          <td class="actions" data-label="Ações">
            <a href="#">Remover</a>
            <a href="#">Editar</a>
          </td>
        </tr>
        <tr class="white-row">
          <td data-label="Categoria/Serviço">Limpeza de pele</td>
          <td class="actions" data-label="Ações">
            <a href="#">Remover</a>
            <a href="#">Editar</a>
          </td>
        </tr>
        <tr class="beige-row">
          <td data-label="Categoria/Serviço">Micropigmentação</td>
          <td class="actions" data-label="Ações">
            <a href="#">Remover</a>
            <a href="#">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
